image: docker:19.03.13

before_script:
  - docker info

pages:
  stage: deploy
  tags:
    - task
  script:
    - mkdir public
    - ./build.sh
  artifacts:
    paths:
      - public
    expire_in: 1 week
  only:
    - master # this job will affect only the 'master' branch

